body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	transition: 0.5s background;
}

.bg-1, .bg-2, .bg-3 {
	background-repeat: no-repeat;
	background-position:  50% 0;
}

.bg-1 {
	background-color: #8ba596;
	background-image: url('img/ice-cream-1.png');
}

.bg-2 {
	background-color: #94a2b2;
	background-image: url('img/ice-cream-2.png');
}

.bg-3 { 
	background-color: #a7948d;
	background-image: url('img/ice-cream-3.png');
}

a {
	color: #fff;
	font-size: 16px;
	line-height: 1.4;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	text-decoration: none;
}

a:hover, a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

a.logo {
	border: none;
}

button:focus { 
    outline: none; 
}

input {
	width: 100%;
	padding: 0 15px;
	font-size: 16px;
	line-height: 44px;
	color: #999;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	min-height: 44px;
	transition: 0.5s border;
}


input:focus {
	border-color: #6ba2b1;
	color: #6ba2b1;
}

select {
	cursor: pointer;
}

legend {
	font-size: 14px;
	line-height: 16px;
	padding-left: 20px;
	margin-bottom: 5px;
}

option {
	color: #000;
}

label {
	margin-bottom: 0;
}

.button {
	background: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	display: inline-block;
	vertical-align: middle;
	padding: 10px 25px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 30px;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.8);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.65);
}

.button:hover {
	background: linear-gradient(90deg, #ec6f5e 0%, #f58669 100%);
	box-shadow: 0px 2px 2px 0px #ac1000;
	color: #fff;
	border-bottom: none;
}

.button:active {
	background: linear-gradient( 90deg, #e1613e 0%, #d74632 100%);
	box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
	color: #fff;
	border-bottom: none;
}

.button--large {
	font-size: 32px;
	padding: 15px 40px;
	border-radius: 50px;
}

.button--goods {
	padding: 8px 10px;
	text-align: center;
}

.main-header {
	min-height: 75px;
	padding-top: 10px;
}

.main-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0;
	font-weight: bold;
	text-align: center;
}

.main-nav > li {
	position: relative;
	display: inline-block;
	vertical-align: middle;	
	padding-bottom: 5px;
	font-size: 16px;
}

.main-nav > li > a {
	display: block;
	margin: 6px 15px;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
}

.main-nav > li:hover > a,
.main-nav > li > a:focus {
	background: #f7f6f3;
	color: #000;
	font-size: 16px;
	margin: 0;
	padding: 6px 15px;
	border-radius: 15px;
}

.main-nav > li:active > a {
	background: #ededed;
	box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-nav li:hover .sub-nav {
	opacity: 1;
 	visibility: visible;
  	transition-delay: 0s;
}

.main-nav li.active > a {
	background: #d07058;
	color: #fff;
	font-size: 16px;
	margin: 0;
	padding: 6px 15px;
	border-radius: 15px;
	display: block;
	border-bottom: none;
}

/* SUB MENU START */
.sub-nav {
	position: absolute;
	top: 37px;
	left: 0;
	background: #fff;
	padding: 0;
	margin: 0;
	min-width: 145px;
	border-radius: 5px;
	list-style-type: none;
	text-align: left;
	padding: 10px 0;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	z-index: 1000;
	opacity: 0;
  	visibility: hidden;
  	transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.sub-nav li {
	padding: 0 20px;
	transition: 0.8s background;
}

.sub-nav li a {
	color: #323232;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: block;
	padding: 5px 0;
	border: none;
}

.sub-nav li:hover {
	background: #fbded7;
}
 
.sub-nav li:active {
	background: #f6b5a5;
}

.sub-nav li.s-active {
	background: #d07058;
}

.sub-nav li.s-active a {
	color: #fff;
}

.sub-nav .sub-title:hover, 
.sub-nav .sub-title:active {
	background: transparent;
}

.sub-nav .sub-title {
	margin: 0 7px 5px 7px;
	padding: 0 15px 5px 15px;
	border-bottom: 1px solid #d7d7d7;
}

.sub-nav .sub-title span {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
/* SUB MENU END */


.main-header__search, 
.main-header__login,
.main-header__cart {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-right: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
}


.main-header__userblock .header-button {
	background: rgba(255, 255, 255, 0.2);
	outline: none;
	border: none;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	cursor: pointer;
}

.main-header__search .header-button--search {
	background: rgba(255, 255, 255, 0.2) url("img/header-buttons.png") no-repeat;
	background-position: 2px -115px;
	font-size: 0;
	outline: none;
	border: none;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	cursor: pointer;
}

.main-header__search:hover .header-button--search {
	background: rgba(255, 255, 255, 1.0) url("img/header-buttons.png") no-repeat;
	background-position: 2px -142px;
}


/* LOGIN AND SEARCH BLOCK*/
.main-header__search .search-block,
.main-header__login .login-block,
.main-header__cart .cart-block {
	background: #f8f7f4;
	width: 340px;
	position: absolute;
	right: 0;
	top: 38px;
	padding: 20px 15px;
	border-radius: 5px;
	z-index: 1000;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	opacity: 0;
  	visibility: hidden;
  	transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.main-header__login .login-block {
	width: 280px;
	right: 0;
	top: 32px;
}

.main-header__search:hover .search-block,
.main-header__login:hover .login-block,
.main-header__cart:hover .header-button--cart--have ~ .cart-block {
	display: block;
	opacity: 1;
  	visibility: visible;
  	transition-delay: 0s;
}


.main-header__login .login-input {
	margin-bottom: 20px;
}

.main-header__search .login-block {
	left: -307px;
	top: 37px;
}

.main-header__login .login-block a{
	color: #000;
	text-decoration: underline;
}

.main-header__login .login-block a:hover{

		color: #ffbc9e;
	background: #fff;
}

.main-header__login .login-block__links {
	width: 125px;
	text-align: left;
	float: right;
}

.main-header__login .login-block__links a{
	font-size: 13px;
	line-height: 24px;
	border-bottom: none;
}
/* LOGIN AND SEARCH BLOCK END*/


.main-header__userblock .header-button--login:before,
.main-header__userblock .header-button--cart:before,
.main-header__userblock .header-button--cart--have:before {
	content: "";
	background: url("img/header-buttons.png") no-repeat;
	position: absolute;
	left: 5px;
	top: 0;
	width: 32px;
	height: 32px;
}

.main-header__userblock .header-button--login {
	padding: 6px 15px 6px 45px;
	border-radius: 20px;
	position: relative;
}

.main-header__userblock .header-button--login:before {
	background-position: 2px -58px;
}

.main-header__userblock .header-button--login:hover:before {
	background-position: 2px -87px;
}

.header-button--login:hover,
.header-button--cart:hover{
	color: #000;
}

.main-header__cart {
	margin-right: 0;
}

.main-header__userblock .header-button--cart,
.main-header__userblock .header-button--cart--have {
	padding: 6px 15px 6px 45px;
	border-radius: 20px;
	position: relative;
}

.main-header__userblock .header-button--cart--have:before {
	background-position: 2px -30px;
}


.main-header__cart .cart-block {
	color: #323232;
	font-size: 13px;
	width: 540px;
	right: 0;
	top: 32px;
	padding: 10px;
}

.cart-block__table {
    border-collapse: separate;
    border-spacing: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cacac7;
}

.cart-block__del {
	border: none;
	font-size: 0;
	outline: none;
	background: transparent;
	position: relative;
	width: 10px;
	height: 10px;
	vertical-align: middle;	
	cursor: pointer;
}

.cart-block__del:before, .cart-block__del:after {
	position: absolute;
	bottom: 0;
	left: 7px;
	content: "";
	width: 1px;
	height: 13px;
	background: #000;
	transform: rotate(45deg);
}

.cart-block__del:after {
	transform: rotate(-45deg);
}

.cart-block__img {
	width: 33px;
	height: 33px;
	overflow: hidden;
}

.cart-block__xprice {
	color: #999999;
}

.cart-block__price {
	font-size: 15px;
	color: #000;
	font-weight: bold;
	text-align: right;
	margin-bottom: 20px;
	margin-right: 10px;
}

.cart-block__buy {
	text-align: right;
	margin-bottom: 20px;
	margin-right: 10px;
}

.main-header__time {
	text-align: right;
}

.main-header__time p {
	font-size: 14px;
	line-height: 16px;
	padding: 0;
	margin: 5px 0;
}

.main-header__time p + p {
	font-size: 22px;
	line-height: 24px;
}


.main-slider__slides {
	position: relative;
	min-height: 500px;
	max-width: 680px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.main-slider__slides ul,
.main-slider__paginator {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	font-size: 0;
}


.main-slider__slides h2 {
	margin-top: 200px;
	margin-bottom: 50px;
	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.main-slider__paginator {
	position: absolute;
	left: 15px;
	bottom: 50px;
}

.main-slider__paginator li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.main-slider__indicator {
	background: transparent;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	transition: 0.5s background;
}

.active-slide {
	background: #fff;
}

.hidden {
	display: none;
}







.main-sale {
	margin-bottom: 55px;
	margin-top: 30px;
}

.main-sale__item {
	position: relative;
	min-height: 230px;
	padding: 25px 20px;
	border-radius: 15px;
	overflow: hidden;
}

.main-sale__item:hover.raspberries::before,
.main-sale__item:hover.chocolate::before {
	filter: blur(2px);
	transform: scale(1.2) rotate(5deg);
}

.main-sale__item:hover.chocolate::before {
	transform: scale(1.2) rotate(-5deg);	
}

.raspberries::before,
.chocolate::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all .6s;
}

.raspberries::before {
	background: url('img/sale-raspberry.png') 0 0 no-repeat;
	background-size: cover;
}

.chocolate::before {
	background: url('img/sale-chocolate.png') 0 0 no-repeat;
	background-size: cover;
}

.main-sale__item h3 {
	margin: 0;
	margin-bottom: 15px;
	font-size: 35px;
	line-height: 41px;
	color: #fff;
	font-weight: bold;
}

.main-sale__item p {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
}

.main-sale__item .button {
	position: absolute;
	bottom: 25px;
	right: 20px;
}

.main-goods {
	margin-bottom: 10px;
}

.main-goods__item {
	padding: 20px 5px 50px 5px;
	border-radius: 10px;
	transition: 0.4s all;
}
.main-goods__item:hover {
	background: rgba(255, 255, 255, 0.3);
}

.main-goods__img {
	position: relative;
	text-align: center;
	max-width: 200px;
	margin: 0 auto;
}

.main-goods__hit {
	background-image: url('img/good-hit.png');
	position: absolute;
	left: 0;
	top: 0;
	width: 61px;
	height: 61px;
}

.main-goods__price {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 45px;
	color: #fff;
	font-weight: bold;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.main-goods__price span {
	font-size: 30px;
}

.main-goods__descr {
	display: block;
	text-align: center;
	margin: 15px 0;
	font-size: 16px;
	line-height: 22px;
	font-weight:  500;
	text-decoration: underline;
	color: #fff;
	border: none;
}

.main-goods__descr:hover, 
.main-goods__descr:active {
	color: #fff;
	border: none;
}

.main-goods__qshow {
	position: absolute;
	left: 50%;
	margin-left: -94px;
	text-align: center;
	display: none;
}

.main-goods__item:hover .main-goods__qshow {
	display: block;
}




.advantages__item {
	background-image: url('img/wafer-bg.jpg');
	padding: 30px 20px;
	margin-bottom: 40px;
	border-radius: 10px;
	color: #323232;
}

.advantages__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 0;
}

.advantages__desription {
	position: relative;
	padding-left: 60px;
	padding-top: 15px;
	font-size: 16px;
	line-height: 22px;
}

.advantages__desription:hover::before {
	transition: 0.5s all;
    transform: rotate(720deg);
}

.advantages__item .i-cream:before,
.advantages__item .cow:before,
.advantages__item .leaf:before,
.advantages__item .therm:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 48px;
	height: 49px;
}

.advantages__item .i-cream:before {
	background-image: url("img/advantages-4.png");
}

.advantages__item .cow:before {
	background-image: url("img/advantages-2.png");
}

.advantages__item .leaf:before {
	background-image: url("img/advantages-3.png");
}

.advantages__item .therm:before {
	background-image: url("img/advantages-1.png");
}





.main-blog {
	margin-bottom: 40px;
}

.main-blog__item {
	background: #fff;
	min-height: 220px;
	padding: 25px 20px;
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	border-radius: 15px;
}

.main-blog__item.strawberry {
	background: #fff url("img/blog-bg.jpg") no-repeat 100% 0;
}

.main-blog__item h5 {
	font-size: 16px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 15px;
}

.main-blog__item p {
	margin-top: 0;
}

.main-blog__name {
	background: rgba(255, 255, 255, 0.7);
	color: #353535;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: underline;
}

.main-blog__item.mail-b {
    background-image: url("img/mail-border.png");
    padding: 5px;
}

.main-blog__mail-box {
	background: #fff;
	min-height: 210px;
	padding: 40px 30px;
	border-radius: 15px;
}

.mail-box__form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.mail-box__input {
	margin-right: 10px;
}


.main-map .container {
	padding: 0;
}

#google-map {
	width: 100%;
	height: 430px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
}

.main-map__contact {
	position: absolute;
	top: 50%;
	right: 60px;
	background: #fff;
	height: 300px;
	max-width: 300px;
	padding: 30px 25px;
	margin-top: -150px;
	color: #323232;
	border-radius: 15px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}

.main-map__adress,
.main-map__tel {
	margin-bottom: 20px;
}

.main-map__contact p {
	margin-top: 0;
	margin-bottom: 0;
}

.main-map__contact b {
	font-size: 18px;
	line-height: 26px;
}





.main-footer {
	padding: 10px 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.main-footer__social {
	font-size: 0;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.main-footer__social li {
	display: inline-block;
	vertical-align: middle;	
	margin-right: 10px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.social-button {
	display: inline-block;
	background: url('img/soc-ico.png') no-repeat 0 0;
	width: 32px;
	height: 32px;
	font-size: 0;
	border: none;
	border-radius: 50%;
	opacity: 0.7;
	transition: 0.3s all;
}

.social-button:hover {
	opacity: 1;
	border-color: #fff;
}

.social-button:active {
	opacity: 1;
	box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-button--tw {
	background-position: 0 0;
}
.social-button--in {
	background-position: 0 -32px;
}
.social-button--fb {
	background-position: 0 -64px;
}
.social-button--vk {
	background-position: 0 -96px;
}

.main-footer__about {
	list-style-type: none;
	margin: 0;
	padding: 0;
  	columns: 2;
  	-webkit-columns: 2;
  	-moz-columns: 2;
  	font-size: 13px;
  	line-height: 18px;
  	font-weight: 300;
  	margin-left: 25px;
}

.main-footer__about .provider {
	font-weight: bold;
	padding-right: 15px;
}

.main-footer__about .provider:before {
	content: "";
	background-image: url('img/heart.svg');
	width: 15px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	margin-left: -25px;
	margin-right: 10px;
}

.main-footer__copyright p {
	margin-top: 0;
}

.main-footer__img {
	width: 40%;
	display: block;
}




/* //CATALOG STYLES// */
.body-catalog {
	background: #8ba596;
}

.breadcrumbs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	margin-bottom: 5px;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}

.breadcrumbs li a,
.breadcrumbs li span {
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}

.breadcrumbs li:after {
	content: "»";
	padding-left: 7px;
	font-size: 14px;
}

.breadcrumbs li:last-child:after {
		content: "";
		padding: 0;
}

.main-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}

.sorting-form {
	margin-bottom: 35px;
}

.bg-filters{
    position: relative;
	background: rgba(255, 255, 255, 0.4);
    min-height: 34px;
    margin: 0;
    padding: 6px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.select-wrap {
	width: 200px;
	overflow: hidden;
	border-radius: 15px;
}

select[name="sorting"] {
	background-image: url("img/arrow.svg");
	background-repeat: no-repeat;
	background-position: 80% 55%;
	padding-right: 45px;
	transition: 0.3s all;
}

select[name="sorting"]:hover {
	background-color: #fff;
	background-image: url("img/arrow-hover.svg");
	color: #000;

}

.bg-filters--price:before {
	content: "";
	background: rgba(255, 255, 255, 0.4);
	position: absolute;
	top: 50%;
	margin-top: -2px;
	width: calc(100% - 30px);
	height: 4px;
	cursor: pointer;
}

.range-btn {	
  	background-color: #fff;
	width: 20px;
	height: 20px;
	display: inline-block;
 	vertical-align: top;
 	border-radius: 50%;
 	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
 	cursor: pointer;
}

.range-btn--l,
.range-line {
	margin-left: 10%;
}

.range-btn--r {
	margin-right: 30%;
	float: right;
}

.range-line {
	background: #fff;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	width: calc(60% - 30px);   /*   [100%] - [margin .range-btn--l] - [margin .range-btn--r] = 60%    */
	height: 4px;
	cursor: pointer;
}


.fat input[type="radio"],
.fillers input[type="checkbox"] {
	display: none;
}

.fat label,
.fillers label {
	cursor: pointer;
	margin-right: 20px;
}

.fat label:before,
.fillers label:before {
	content: "";
	background: transparent;
	display: inline-block;
	vertical-align: bottom;
	width: 21px;
	height: 21px;
	margin-right: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.fat input:checked + label:before {
	background: #fff;
}

.fillers label:before {
	border-radius: 4px;
}

.fillers input:checked + label:before {
	background: url('img/checkbox-checked.svg') no-repeat -1px -1px;
}

.filter-button {
	background: rgba(255, 255, 255, 0.4);
    margin: 0;
    padding: 0 15px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    border-radius: 20px;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.3s background;
}

.filter-button:hover {
	background: #f7f6f3;
	color: #000;
}

.filter-button:active{
	background: #ededed;
	border: none;
	padding: 2px 17px;
	box-shadow: inset 0px 2px 1px 0px #696969;
}




.catalog-pagination {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0;
}

.catalog-pagination li {
	display: inline-block;
	vertical-align: top;
	margin-right: 3px;
}

.catalog-pagination li a {
	color: #fff;
	width: 27px;
	height: 27px;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;	
	line-height: 27px;
	text-decoration: none;
	border: none;
	text-align: center;
	border-radius: 50%;
}

.catalog-pagination li a:hover {
	background: rgba(255, 255, 255, 0.4);
}

.catalog-pagination li a:active,
.catalog-pagination .p-active a {
	background: #fff;
	color: #000;
}


.catalog-pagination li:first-child a, 
.catalog-pagination li:last-child a {
	font-size: 0;
	background: url('img/paginator.svg') no-repeat 50% 50%;
	opacity: 0.4;
}

.catalog-pagination li:first-child a {
	transform: rotate(180deg);
}

.catalog-pagination li:first-child a:hover, 
.catalog-pagination li:last-child a:hover,
.catalog-pagination li:first-child a:active, 
.catalog-pagination li:last-child a:active {
	background-color: transparent;
}

.catalog-pagination .p-active a {
	opacity: 1 !important;
}



#my-icon {
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 2;
}

.main-nav .mobile-visible,
#my-icon {
	display: none;
}


/* HAMBURGER */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
	bottom: -10px;
}

/* Hamburger Emphatic */
.hamburger--emphatic {
	overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
	transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
	left: 0;
	transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
	top: 10px;
	right: 0;
	transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
	transition-delay: 0s;
	transition-timing-function: ease-out;
	background-color: transparent;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
	left: -80px;
	top: -80px;
	transform: translate3d(80px, 80px, 0) rotate(45deg);
	transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
	right: -80px;
	top: -80px;
	transform: translate3d(-80px, 80px, 0) rotate(-45deg);
	transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}



/* ADAPTIVE */

@media (min-width: 576px) and (max-width: 767px) {

	.main-slider__paginator {
		bottom:  25px;
	}

	.main-sale__item h3 {
		font-size: 22px;
	}
	.main-sale__item p {
		font-size: 15px;
	}

	.main-footer__copyright {
		display: none;
	}

	.main-footer__about {
		text-align: right;
	}

	.main-footer__about .provider {
		padding-right: 0;
	}

}


@media (min-width: 768px) and (max-width: 991px) {
	.main-sale__item h3 {
		font-size: 32px;
	}

	.main-footer__about, 
	.main-footer__about a {
		font-size: 13px;
	}

	.main-blog__mail-box {
		padding: 8px 15px;
	}

	.mail-box__input {
		width: 160px;
		font-size: 14px;
	}

}


@media (min-width: 992px) and (max-width: 1199px) {
	.main-blog__mail-box {
		padding: 30px 30px;
	}


}

@media (max-width: 575px) {

	.main-sale .main-sale__item {
		margin-bottom: 40px;
		min-height: 229px;
	}

	.main-slider__paginator {
		left: 50%;
		bottom: 90px;
		transform: translateX(-50%);
	}
	.bg-1, .bg-2, .bg-3 {
		-webkit-background-size: 700px;
		background-size: 700px;
	}

	.main-slider__slides h2 {
		font-size: 50px;
		line-height: 50px;
	}

	.main-sale__item h3 {
		margin-bottom: 5px;
	}

	.main-sale {
		margin-bottom: 0;
	}

	.main-sale__item h3 {
		font-size: 30px;
	}

	.main-sale__item p {
		font-size: 15px;
	}

	.advantages__title {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
	}

	.main-blog__item .main-blog__mail-box {
		padding: 20px 15px;
	}

	.mail-box__input {
		width: 50%;
	}

	.main-footer {
		text-align: center;
	}

	.main-footer__social,
	.main-footer__about {
		margin: 10px 0;
	}

	.main-footer__copyright {
		display: flex;
		justify-content: center;
	}
}


@media (max-width: 767px) {

	.main-sale__item .button {
		right: 50%;
		transform: translateX(50%);
		min-width: 200px;
	}

	.advantages__desription {
		padding: 60px 0 30px 0;
		text-align: center;
	}

	.advantages__item .i-cream::before, 
	.advantages__item .cow::before, 
	.advantages__item .leaf::before, 
	.advantages__item .therm::before {
		left: 50%;
		transform: translateX(-50%);
	}

	.main-blog__item.strawberry {
		margin-bottom: 40px;
	}

	.main-footer__copyright img {
		width: auto;
	}

	.main-footer__about {
		columns: 1;
	}

	.main-map {
		width: 100%;
	}

	.main-map .container,
	.main-map .row,
	.main-map .col-12 {
		margin: 0 auto;
		padding: 0;
	}

	.main-map__contact {
		display: none;
	}

}

@media (max-width: 991px) {

   #my-menu {
      display: none;
   }

   .main-header__userblock,
   .main-header__time {
   		display: none;
   }

   .main-nav .mobile-visible,
   #my-icon {
		display: block;
	}

	.main-sale__item {
		min-height: 280px;
	}

	
	.mail-box__form button {
		padding: 8px 15px;
	}

	.main-footer__about li {
		padding: 5px 0;
	}

	.main-footer__img {
		width: 100%;
	}

	.main-footer__copyright p {
		display: none;
	}


	/* Адаптация пунктов меню */
	.mm-menu {
		background: #210101;
	}

	.mm-menu .mm-search input {
		color: rgba(255, 255, 255, 0.8);
	}

	.mm-hasnavbar-bottom-1 .mm-panels,
	.mm-menu .mm-noresultsmsg {
		color: #fff;
	}

	.mm-panels > .mm-panel > .mm-navbar + .mm-listview {
		margin-top: 40px;
	}

	.mm-navbar {
		height: auto;
		border-color: #fff3;
	}

	.main-nav > li {
		padding: 5px 0;
		margin: 0 10px;
		display: block;
	}

	.main-nav > li:hover a,
	.main-nav > li:hover a:focus {
		background: transparent;
		color: #fff;
		box-shadow: none;
	}

	.main-nav > li > a {
		color: #fff;
		text-align: left;
	}

	.mm-menu a {
		border-bottom:  none;
	}

	.mm-listview > li::after {
		border-color: #2a0f0f;
	}

	.mm-menu .mm-listview > li .mm-next::after {
		border-color:  #fff;
		left: 50%;
		margin-left: -6px;
	}

	.mm-menu .mm-listview > li .mm-next {
		background: rgba(0, 0, 0, 0.2);
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}

	.mm-menu .mm-listview > li .mm-next {
		margin: 0;
		margin-top: 5px;
	}

	.mm-menu .mm-navbar a, .mm-menu .mm-navbar > * {
		color: #fff;
	}

	.sub-nav {
		margin-top: 0!important;
		position: static;
		opacity: 1;
		visibility: visible;
		background: transparent;
		box-shadow: none;
	}

	.mm-menu .mm-btn::after, .mm-menu .mm-btn::before {
		border-color: #fff;
	}

	.mm-navbar .mm-title {
		font-weight: bold;
	}

	.sub-nav .sub-title {
		border-bottom: none;
		padding: 0;
		margin: 0;
	}

	.sub-nav .sub-title span {
		color: #ce6421;
		font-size: 16px;
		font-weight: normal;
	}

	.sub-nav li {
		padding: 5px 20px;
	}

	.sub-nav li a {
		color: #fff;
	}

	.sub-nav.mm-listview > li:hover::after  {
		border: none;
	}

}

@media (min-width: 992px) {
   #mm-my-menu{
      display: none !important;
   }
}